<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Eric's 방명록</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/list.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">Eric's 방명록</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <% if (user){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/write">Write</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list">List</a>
                </li>
            <% } %>
            <% if (user.role==="admin"){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
            <% } %>
            <li class="nav-item">
                <a class="nav-link" href="/join">Join</a>
            </li>

            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link disabled" href="#">Disabled</a>-->
            <!--            </li>-->
        </ul>
        <form class="form-inline my-2 my-lg-0" style="margin-right: 10px" ;>
            <%= user.nickname%>님 환영합니다

        </form>
        <button type="button" class="btn btn-primary" style="margin-right: 10px"
                onclick={window.location.href="/mypage"}>My Page
        </button>
        <% if (user) { %>
            <button type="button" class="btn btn-primary" style="margin-right: 10px"
                    onclick={window.location.href="/logout"}>LOGOUT
            </button>
        <% }else { %>
            <button type="button" class="btn btn-primary" style="margin-right: 10px"
                    onclick={window.location.href="/login"}>LOGIN
            </button>
        <% } %>

    </div>
</nav>

<h4 class="container mt-4"><strong>글 확인페이지</strong></h4>

<div class="container input-group mb-2">
    <input class="form-control" id="search-input">
    <button class="input-group-append btn btn-danger" id="search">검색</button>
</div>
    <div id="footprint">
        남겨져 있는 발자취,     <%= count.totalPost%>자국
    </div>


<ul class="list-group list-group-flush">
    <% for (var i = 0; i < posts.length; i++){ %>
        <li class="list-group-item" id="test">
            <h4>  <%= posts[i].제목 %> </h4>
            <p>  오늘의 한줄평 : <%= posts[i].내용 %> </p>
            <p>  남긴 시간 : <%= posts[i].날짜 %> </p>
            <p>  남긴 이 : <%= posts[i].닉네임 %> </p>
            <button class="delete" data-id="<%= posts[i]._id %>">삭제</button>
            <%if (user.role=='admin'){%>
                <button onclick="window.location='/edit/<%= posts[i]._id%>'">edit </button>
            <% }%>

<!--            <button class="btn btn-secondary chat" data-id="<%= posts[i].작성자 %>">채팅하기</button>-->

        </li>
    <% } %>
</ul>
</body>
</html>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>
    $('.delete').click(function (e) {
        $.ajax({
            method: 'DELETE',
            url: '/delete',
            data: {_id: e.target.dataset.id}
        }).done((결과) => {
            // $(e.target).parent('li').fadeOut();
            // $('#test').load(location.href+' #test')
            location.reload()
            console.log('test')
        }).always(function (xhr,status){
            $("#text").html("요청이 완료되었습니다.!!")
        })
    });
</script>
<script>
    $('#search').click(function(){
        var 입력한값 = $('#search-input').val();
        window.location.replace('/search?value=' + 입력한값)
    });
</script>
<script>
    $('.chat').click(function(e){
        var _id = e.target.dataset.id;
        $.post('/chat', {대상id : _id})
            .then(()=>{
                console.log('채팅방 게시물 생성완료')
            })
    });
</script>
